.headers {
  display: flex;
  justify-content: space-between;
}
.info {
  flex: 1;
}
#title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}
#org {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 2rem;
  color: var(--dark-blue);
}
date {
  font-weight: 300;
  font-size: 2rem;
  color: var(--mid-grey);
}
.scrollable::-webkit-scrollbar {
  display: none;
}
.scrollable {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  max-height: 100%;
}
.announcements img {
  width: 100%;
}
#announcement-body *:first-child {
  margin-top: 0;
}
#announcement-body *:last-child {
  margin-bottom: 0;
}
#announcement-body h1 {
  font-size: 2.5rem;
}
#announcement-body h2 {
  font-size: 2.3rem;
}
#announcement-body h3 {
  font-size: 2rem;
}
#announcement-body p,
a,
code,
li {
  font-size: 1.8rem;
}
blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid var(--dark-grey);
}
